/* Galpop Image Gallery CSS */

#gallery-wrapper{
position:relative;
width:100%;
left:8%;
}
#galpop-wrapper {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .8);
}


#galpop-close {
	top:-30px;
	right:-30px;
	width:36px;
	height:36px;
	background-image:url("../images/btn-close.png");
	background-repeat:no-repeat;
}


.lock-scroll {
	overflow:  !important;
}
#galpop-wrapper {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100;
}
#galpop-container {
	position:fixed;
	top:50%;
	left:50%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height:100px;
	width:100px;
	margin-top:-50px;
	margin-left:-50px;
	overflow: visible !important;
}
#galpop-content {
	position:relative;
}
#galpop-content img {
	vertical-align:top;
	display:none;
}
#galpop-info {
	position:absolute;
	display:none;
	z-index:15;
}

#galpop-prev,
#galpop-next {
	position:absolute;
	top:0;
	bottom:0;
	z-index:5;
	background-repeat:no-repeat;
	outline:none;
}
#galpop-prev {
	left:0;
	right:50%;
}
#galpop-next {
	left:50%;
	right:0;
}
#galpop-prev:hover {
	background-image:url("../images/btn-prev.png");
	background-position:left center;
}
#galpop-next:hover {
	background-image:url("../images/btn-next.png");
	background-position:right center;
}
#galpop-close {
	position:absolute;
	display:block;
	z-index:10;
}
